<div id="logo" class="animated fadeIn"></div>
<header class="witi animated fadeInUp">
  <h1>WiTi</h1>
  <h2>Wireless timesheet tracking</h2>
</header>

<div id="buttons" class="animated fadeInUp">
  <div id="about"><a href="javascript:alert('WiTi is automagic timesheeting which monitors your smartphone\'s WiFi connections for timesheet in and out times.')">What is this?</a></div>
  <div id="new"><a href="/join/verify">New Employee</a></div>
</div>

<div id="circles">
  <div id="circle1" class="circle"></div>
  <div id="circle2" class="circle"></div>
  <div id="circle3" class="circle"></div>
  <div id="circle4" class="circle" ></div>
</div>