<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WiTi - Wireless Timesheet Tracking</title>
  <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <link rel="stylesheet" href="/witi-markup/build/css/main.css">
  <link rel="stylesheet" href="/witi-markup/build/css/normalize.css">
  <link rel="stylesheet" href="/witi-markup/build/css/animate.css">
  <script src="/witi-markup/build/js/jquery-1.11.0.min.js"></script>
</head>
<body>
  
  <div id="wrapper">
    <%- body %>
  </div>

</body>
</html>
