<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WiTi - Wireless Timesheet Tracking</title>
  <link rel="stylesheet" href="/witi-markup/build/css/main.css">
  <link rel="stylesheet" href="/witi-markup/build/css/normalize.css">
  <link rel="stylesheet" href="/witi-markup/build/css/animate.css">
  <script src="/witi-markup/build/js/jquery-1.11.0.min.js"></script>
</head>
<body>
  
  <div id="wrapper">
    <%- body %>
  </div>

</body>
</html>
